<div class="container">
    <div class="row">
        <div class="col">
            <h3>Cards in Horizontal Alignment</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="/assets/img/card1.jfif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Customer Communication Management</h5>
                    <p class="card-text">Enhance the customer understanding with the details on LayaTechHub ensures
                        clear, effective, and personalized Communication with Customers.</p>
                    <a href="#" class="btn btn-primary">Learn More...</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="/assets/img/card2.jfif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Customer Journey Mapping</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="/assets/img/card3.jfif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="/assets/img/card4.jfif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="/assets/img/card5.jfif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>